.footer {
    background-color: #CC0000;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;

    width: 100%;
}

.footer-heading {
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 5px 5px;
    margin-bottom: 5px;
}

.footer-text {
    font-size: 16px;
    text-align: center;
    color: white;
    padding: 5px 5px;
    margin-bottom: 0px;
}